<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Plant Authors List - Plantilus.com</title>
  <link href="../resources/plantdb.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="banner">
<div class="section">
<h3><a href="/plant-database/">Plant Database</a></h3>
<h4>Plant Authors List</h4>
</div>

<h1><a href="http://plantilus.com/">Plant<span> </span><i>ilus</i></a></h1>
<h2><span>A</span> Place for Plants</h2>
</div>

<div class="main clearfix">

<div class="menubar">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/plant-database/">Plant Database</a></li>
	<li><a href="/historical-books/">Historical Books</a></li>
	<li><a href="http://blog.plantilus.com/">Blog</a></li>
	<li><a href="/gardens/">Gardens</a></li>
	<li><a href="/identification/">Identification</a></li>
	<li><a href="/nomenclature/">Nomenclature</a></li>
</ul>
</div>

<div class="sideinfo">

<br />
<div class="ad">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4706423175274772";
	/* plantilus */
	google_ad_slot = "8086790483";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
</div>

<div class="jumpto">
	<p>
		<a href="#A">A</a>&nbsp;&nbsp; <a href="#B">B</a>&nbsp;&nbsp; <a href="#C">C</a>&nbsp;&nbsp; <a href="#D">D</a>&nbsp;&nbsp; <a href="#E">E</a>&nbsp;&nbsp; <a href="#F">F</a>&nbsp;&nbsp; <a href="#G">G</a>&nbsp;&nbsp; <a href="#H">H</a>&nbsp;&nbsp; <a href="#I">I</a>&nbsp;&nbsp; <a href="#J">J</a>&nbsp;&nbsp; <a href="#K">K</a>&nbsp;&nbsp; <a href="#L">L</a>&nbsp;&nbsp; <a href="#M">M</a>&nbsp;&nbsp; <a href="#N">N</a>&nbsp;&nbsp; <a href="#O">O</a>&nbsp;&nbsp; <a href="#P">P</a>&nbsp;&nbsp; <a href="#Q">Q</a>&nbsp;&nbsp; <a href="#R">R</a>&nbsp;&nbsp; <a href="#S">S</a>&nbsp;&nbsp; <a href="#T">T</a>&nbsp;&nbsp; <a href="#U">U</a>&nbsp;&nbsp; <a href="#V">V</a>&nbsp;&nbsp; <a href="#W">W</a>&nbsp;&nbsp; <a href="#X">X</a>&nbsp;&nbsp; <a href="#Y">Y</a>&nbsp;&nbsp; <a href="#Z">Z</a>&nbsp;&nbsp; 
	</p>
</div>

<div class="authors">
<table>
<tr>
<th class="abbrev">Abbrev.</th>
<th class="author">Author</th>
<th class="alternate">Alternate Name</th>
<th class="country">Country</th>
</tr>
<tr class="AuthorID">
<td id="Alpha" >A.C.Sm.</td>
<td id="Name">Adanson, Michel (1727-1806)</td>
<td id="AltName">AKA Name</td>
<td id="Country">France</td>
</tr>
</table>
</div>
<h4>Source of Information:</h4>
<p>The International Plant Names Index (2008). Published on the
Internet <a href="http://www.ipni.org" target="new">www.ipni.org</a> [accessed November 2009, 2010].</p>

</div>

<div class="clearfix"> </div>
<hr />

	<p class="fcopyright"><a href="http://plantilus.com/policies.html">&copy; 2010-12 Lisa J. Miner</a></p> 

</body>
</html>
