<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Description Pinus Further Information - Plantilus.com</title>
  <link href="../resources/plantdb.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="banner">
<div class="section">
<h3><a href="/historical-books/">Historical Books</a></h3>
<h4>Description Pinus</h4>
</div>

<h1><a href="http://plantilus.com/">Plant<span> </span><i>ilus</i></a></h1>
<h2><span>A</span> Place for Plants</h2>
</div>

<div class="main clearfix">

<div class="menubar">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/plant-database/">Plant Database</a></li>
	<li><a href="/historical-books/">Historical Books</a></li>
	<li><a href="http://blog.plantilus.com/">Blog</a></li>
	<li><a href="/gardens/">Gardens</a></li>
	<li><a href="/identification/">Identification</a></li>
	<li><a href="/nomenclature/">Nomenclature</a></li>
</ul>
</div>

<div class="sideinfo">

<br />
<div class="ad">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4706423175274772";
	/* plantilus */
	google_ad_slot = "8086790483";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
</div>

<div class="text">
<h2>Description Pinus - Further Information</h2>

<h4>Table of Contents for Edition 1 Volume 1:</h4>
<p>The original work has no Table of Contents. The following is a list of the contents of Volume 1 and the Appendix, in page order:</p>
<ul>
	<li><a href="#SummaryPage">Preface (Page i to ii)</a></li>
	<li>Character Genericus (Page b)</li>
	<li>Synopsis of the Species - an index to the first volume (Page c)</li>
	<li>Plant descriptions and drawings (Page 1 to 63) (<a href="pinus.html">plants list</a>)</li>
	<li>Some Account of the Medicinal and Other Uses of Various Substances prepared from Trees of the Genus Pinus by William George Maton, M.D. (Page 65 to 82)</li>
	<li>Copy of a letter from Mr. Thomas Davis, of Hommingsham, Wilts, relative to the Timber Yielded by Various Species of Pines. (Page 83 to 84)</li>
	<li>Extract from the Rev. William Coxe's Travels in Poland, Russia, Sweden, and Denmark on The Subject of Christiana Deal, (Vol. V. p.28, 5th Edit.) (Page 84)</li>
	<li>Copy of a letter from Thomas Marsham, Esq. TR. L. S. to the author on the Subject of Insects Destructive to Pines. (Page 85 to 86)</li>
	<li>Appendix</li>
	<li><a href="pinus.html#DombExce">Dombeya (Tab. 39 to 40) (Page 87 to 90)</a></li>
	<li><a href="#Addenda">Addenda et corrigenda (Page 91):</a></li>
	<li><a href="pinus.html#DacrCupr">Dacrydium and Cupressus (Tab. 41 to 43) (Page 93 to 98)</a></li>
	<li>Note to <i>Pinus halepensis</i>, p.16 (Page 98)</li>
</ul>

<h4>Table of Contents Edition 1 Volume 2</h4>
<ul>
	<li>Preface (Page v to vi)</li>
	<li><a href="pinus.html">Plant descriptions and drawings (Page 1 to 18)</a></li>
	<li>Appendix by Mr. Don, comprising an account of the Lambertian Herbarium (Page 27 to 40)</li>
	<li>On the Native Country of the Potatoe (Page 41 to 42)</li>
	<li><a href="pinus.html">Plant descriptions and drawings in the Appendix</a></li>
</ul>


<hr />

<h4 id="SummaryPage">Summary of the Preface to Edition 1 Volume 1.</h4>

<p>The objective of the work is to provide information about the Genus Pinus and other Genera of Conifers, with instruction as to their better cultivation and management. A secondary objective was to promote the growth of deal timber and also to increase the number of species used in ornamental gardens.
The most noteworthy gardens where Pines are cultivated are listed:</p>
<ul>
	<li>Pain's Hill, "preferable perhaps to any in Europe, both for variety of species, and excellence of growth."</li>
	<li>Kew Gardens - <i>Pinus palustris</i> (probably the largest in England),  <i>Pinus cembra</i>,  <i>Pinus pumilio</i>, <i>Pinus halepensis</i>, and <i>Pinus resinosa</i>.</li>
	<li>Whitton, the seat of the late Duke of Argyll - the first <i>Pinus cembra</i> planted in England, <i>Pinus pendula</i> and <i>Pinus microcarpa</i>.</li>
	<li>Sion, the seat of the Duke of Northumberland - <i>Pinus resinosa</i> and <i>Pinus taeda</i>.</li>
	<li>Croom, the seat of the Earl of Coventry - "affords almost every species that can be procured. Here are large trees of <i>Pinus palustris</i>, <i>Pinus pumilio</i>, <i>Pinus banksiana</i>..."</li>
	<li>"The perfection to which Pines arrive on a strong soil may be seen in the very extensive plantations of Lord Rivers, at Stratfieldsay, Hampshire; which, in about forty-two years have grown to a much greater size than any others I have ever seen."</li>
	<li>The garden of the late Peter Collinson at Mill Hill - three trees of <i>Pinus cembra</i>, "the finest in England", and <i>Pinus pendula</i>, the first in the country.</li>
</ul>

<hr />

<h4 id="Addenda">Summary of addenda et corrigenda</h4>

<p>Tab 16 - should be <i>Pinus pungens</i> not <i>Pinus taeda</i></p>
<p>Tab 21 - the first tab 21 is not <i>Pinus longifolia</i> as labelled, the second tab 21 is <i>Pinus longifolia</i> and the description on page 29 is amended</p>
<p>Tab 34 - tab colored and a branch added</p>
<p>Tab 37 bis - <i>Pinus cedrus</i></p>
<p>Tab 38 - <i>Pinus dammara</i> additional specimens</p>

<br />
<p><a href="pinus.html">Back to Description Pinus Listing of Plants</a></p>
</div>
</div>

<div class="clearfix"> </div>
<hr />

	<p class="fcopyright"><a href="http://plantilus.com/policies.html">&copy; 2010-12 Lisa J. Miner</a></p> 

</body>
</html>
