<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Listing By Catesby Reference - Plantilus.com</title>
  <link type="text/css" rel="stylesheet" href="../resources/plantdb.css" />
</head>

<body>

<div class="banner">
<div class="section">
<h3><a href="http://plantilus.com/historical-books/mark-catesbys-natural-histo/">Catesby's Natural History</a></h3>
<h4>Listing By Catesby Reference</h4>

</div>

<h1><a href="http://plantilus.com/">Plant<span> </span><i>ilus</i></a></h1>
<h2><span>A</span> Place for Plants</h2>
</div>

<div class="main clearfix">

<div class="sideinfo">

<div class="navindex">
<p><a href="../1nfo/index.html" class="nav">Current Scientific Names</a></p>
<p><a href="catesby.html" class="nav">Catesby Scientific Names</a></p>
</div>

<hr />
<div class="ad">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4706423175274772";
	/* plantilus */
	google_ad_slot = "8086790483";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script src="http://pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
	</script>
</div>
</div>

<div class="text">



<div class="pindex">

<table>
<tr>
<th class="plate">Catesby Reference</th>
<th class="latin">Scientific Name</th>
</tr>

<tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CasnPumi">Volume I plate 9</a></td>
<td class="latin"><a class="plant" href="../CasnPumi/index.html"><i>Castanea</i> <i>pumila</i> (L.) Mill.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ColbElli">Volume I plate 10</a></td>
<td class="latin"><a class="plant" href="../ColbElli/index.html"><i>Colubrina</i> <i>elliptica</i> (Sw.) Brizicky &amp; W.L.Stern</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#TaxoDist">Volume I plate 11</a></td>
<td class="latin"><a class="plant" href="../TaxoDist/index.html"><i>Taxodium</i> <i>distichum</i> (L.) Rich.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MoreCaro">Volume I plate 13</a></td>
<td class="latin"><a class="plant" href="../MoreCaro/index.html"><i>Morella</i> <i>caroliniensis</i> (Mill.) Small</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#OryzSati">Volume I plate 14</a></td>
<td class="latin"><a class="plant" href="../OryzSati/index.html"><i>Oryza</i> <i>sativa</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SmilLaur">Volume I plate 15</a></td>
<td class="latin"><a class="plant" href="../SmilLaur/index.html"><i>Smilax</i> <i>laurifolia</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerPhel">Volume I plate 16</a></td>
<td class="latin"><a class="plant" href="../QuerPhel/index.html"><i>Quercus</i> <i>phellos</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerVirg">Volume I plate 17</a></td>
<td class="latin"><a class="plant" href="../QuerVirg/index.html"><i>Quercus</i> <i>virginiana</i> Mill.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerMich">Volume I plate 18</a></td>
<td class="latin"><a class="plant" href="../QuerMich/index.html"><i>Quercus</i> <i>michauxii</i> Nutt.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerMari">Volume I plate 19</a></td>
<td class="latin"><a class="plant" href="../QuerMari/index.html"><i>Quercus</i> <i>marilandica</i> (L.) Münchh.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerNigr">Volume I plate 20</a></td>
<td class="latin"><a class="plant" href="../QuerNigr/index.html"><i>Quercus</i> <i>nigra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MitcRepe">Volume I plate 20 page 21</a></td>
<td class="latin"><a class="plant" href="../MitcRepe/index.html"><i>Mitchella</i> <i>repens</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerRubr">Volume I plate 21 f. 1</a></td>
<td class="latin"><a class="plant" href="../QuerRubr/index.html"><i>Quercus</i> <i>rubra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerAlba">Volume I plate 21 f. 2</a></td>
<td class="latin"><a class="plant" href="../QuerAlba/index.html"><i>Quercus</i> <i>alba</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerInca">Volume I plate 22</a></td>
<td class="latin"><a class="plant" href="../QuerInca/index.html"><i>Quercus</i> <i>incana</i> W.Bartram</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#QuerLaev">Volume I plate 23</a></td>
<td class="latin"><a class="plant" href="../QuerLaev/index.html"><i>Quercus</i> <i>laevis</i> Walter</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PodpPelt">Volume I plate 24</a></td>
<td class="latin"><a class="plant" href="../PodpPelt/index.html"><i>Podophyllum</i> <i>peltatum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ChrbIcac">Volume I plate 25</a></td>
<td class="latin"><a class="plant" href="../ChrbIcac/index.html"><i>Chrysobalanus</i> <i>icaco</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ZanhClav">Volume I plate 26</a></td>
<td class="latin"><a class="plant" href="../ZanhClav/index.html"><i>Zanthoxylum</i> <i>clava-herculis</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CornFlor">Volume I plate 27</a></td>
<td class="latin"><a class="plant" href="../CornFlor/index.html"><i>Cornus</i> <i>florida</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PrunVirg">Volume I plate 28</a></td>
<td class="latin"><a class="plant" href="../PrunVirg/index.html"><i>Prunus</i> <i>virginiana</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ArilSerp">Volume I plate 29</a></td>
<td class="latin"><a class="plant" href="../ArilSerp/index.html"><i>Aristolochia</i> <i>serpentaria</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#BursSima">Volume I plate 30</a></td>
<td class="latin"><a class="plant" href="../BursSima/index.html"><i>Bursera</i> <i>simaruba</i> (L.) Sarg.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#IlexCass">Volume I plate 31</a></td>
<td class="latin"><a class="plant" href="../IlexCass/index.html"><i>Ilex</i> <i>cassine</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#UnioPani">Volume I plate 32</a></td>
<td class="latin"><a class="plant" href="../UnioPani/index.html"><i>Uniola</i> <i>paniculata</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#HypoHirs">Volume I plate 33</a></td>
<td class="latin"><a class="plant" href="../HypoHirs/index.html"><i>Hypoxis</i> <i>hirsuta</i> (L.) Coville</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PopuHete">Volume I plate 34</a></td>
<td class="latin"><a class="plant" href="../PopuHete/index.html"><i>Populus</i> <i>heterophylla</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#IpomSagi">Volume I plate 35</a></td>
<td class="latin"><a class="plant" href="../IpomSagi/index.html"><i>Ipomoea</i> <i>sagittata</i> Poir.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MonoUnif">Volume I plate 36</a></td>
<td class="latin"><a class="plant" href="../MonoUnif/index.html"><i>Monotropa</i> <i>uniflora</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#TabeBaha">Volume I plate 37</a></td>
<td class="latin"><a class="plant" href="../TabeBaha/index.html"><i>Tabebuia</i> <i>bahamensis</i> (Northr.) Britton</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CarzGlab">Volume I plate 38</a></td>
<td class="latin"><a class="plant" href="../CarzGlab/index.html"><i>Carya</i> <i>glabra</i> (Mill.) Sweet</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CarzTome">Volume I plate 38</a></td>
<td class="latin"><a class="plant" href="../CarzTome/index.html"><i>Carya</i> <i>tomentosa</i> (Lam.) Nutt.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MagnVirg">Volume I plate 39</a></td>
<td class="latin"><a class="plant" href="../MagnVirg/index.html"><i>Magnolia</i> <i>virginiana</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MetoToxi">Volume I plate 40</a></td>
<td class="latin"><a class="plant" href="../MetoToxi/index.html"><i>Metopium</i> <i>toxiferum</i> (L.) Krug &amp; Urb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#NyssSylv">Volume I plate 41</a></td>
<td class="latin"><a class="plant" href="../NyssSylv/index.html"><i>Nyssa</i> <i>sylvatica</i> Marshall</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#JacaCaer">Volume I plate 42</a></td>
<td class="latin"><a class="plant" href="../JacaCaer/index.html"><i>Jacaranda</i> <i>caerulea</i> (L.) J.St.-Hil.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#GledAqua">Volume I plate 43</a></td>
<td class="latin"><a class="plant" href="../GledAqua/index.html"><i>Gleditsia</i> <i>aquatica</i> Marshall</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#GordLasi">Volume I plate 44</a></td>
<td class="latin"><a class="plant" href="../GordLasi/index.html"><i>Gordonia</i> <i>lasianthus</i> (L.) J.Ellis</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#TrilCate">Volume I plate 45</a></td>
<td class="latin"><a class="plant" href="../TrilCate/index.html"><i>Trillium</i> <i>catesbaei</i> Elliot</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CalyFlor">Volume I plate 46</a></td>
<td class="latin"><a class="plant" href="../CalyFlor/index.html"><i>Calycanthus</i> <i>floridus</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SmilPumi">Volume I plate 47</a></td>
<td class="latin"><a class="plant" href="../SmilPumi/index.html"><i>Smilax</i> <i>pumila</i> Walter</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LirdTuli">Volume I plate 48</a></td>
<td class="latin"><a class="plant" href="../LirdTuli/index.html"><i>Liriodendron</i> <i>tulipifera</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CataBign">Volume I plate 49</a></td>
<td class="latin"><a class="plant" href="../CataBign/index.html"><i>Catalpa</i> <i>bignonioides</i> Walter</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#TrilMacu">Volume I plate 50</a></td>
<td class="latin"><a class="plant" href="../TrilMacu/index.html"><i>Trillium</i> <i>maculatum</i> Raf.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CoccCaro">Volume I plate 51</a></td>
<td class="latin"><a class="plant" href="../CoccCaro/index.html"><i>Cocculus</i> <i>carolinus</i> (L.) DC.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SmilTamn">Volume I plate 52</a></td>
<td class="latin"><a class="plant" href="../SmilTamn/index.html"><i>Smilax</i> <i>tamnoides</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#GelsSemp">Volume I plate 53</a></td>
<td class="latin"><a class="plant" href="../GelsSemp/index.html"><i>Gelsemium</i> <i>sempervirens</i> (L.) J.St.Hil.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SymcTinc">Volume I plate 54</a></td>
<td class="latin"><a class="plant" href="../SymcTinc/index.html"><i>Symplocos</i> <i>tinctoria</i> (L.) L'Hér.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SassAlbi">Volume I plate 55</a></td>
<td class="latin"><a class="plant" href="../SassAlbi/index.html"><i>Sassafras</i> <i>albidum</i> (Nutt.) Nees</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PlanOcci">Volume I plate 56</a></td>
<td class="latin"><a class="plant" href="../PlanOcci/index.html"><i>Platanus</i> <i>occidentalis</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#RhodVisc">Volume I plate 57</a></td>
<td class="latin"><a class="plant" href="../RhodVisc/index.html"><i>Rhododendron</i> <i>viscosum</i> (L.) Torr.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CleiDiva">Volume I plate 58</a></td>
<td class="latin"><a class="plant" href="../CleiDiva/index.html"><i>Cleistes</i> <i>divaricata</i> (L.) Ames</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#EchtUmbe">Volume I plate 58</a></td>
<td class="latin"><a class="plant" href="../EchtUmbe/index.html"><i>Echites</i> <i>umbellatus</i> Jacq.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CasaClus">Volume I plate 59</a></td>
<td class="latin"><a class="plant" href="../CasaClus/index.html"><i>Casasia</i> <i>clusiifolia</i> (Jacq.) Urb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#NyssAqua">Volume I plate 60</a></td>
<td class="latin"><a class="plant" href="../NyssAqua/index.html"><i>Nyssa</i> <i>aquatica</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#OsmaAmer">Volume I plate 61</a></td>
<td class="latin"><a class="plant" href="../OsmaAmer/index.html"><i>Osmanthus</i> <i>americanus</i> (L.) Benth. &amp; Hook.f. ex A.Gray</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AcerRubr">Volume I plate 62</a></td>
<td class="latin"><a class="plant" href="../AcerRubr/index.html"><i>Acer</i> <i>rubrum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PersBorb">Volume I plate 63</a></td>
<td class="latin"><a class="plant" href="../PersBorb/index.html"><i>Persea</i> <i>borbonia</i> (L.) Spreng.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#HaleTetr">Volume I plate 64</a></td>
<td class="latin"><a class="plant" href="../HaleTetr/index.html"><i>Halesia</i> <i>tetraptera</i> J.Ellis</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CampRadi">Volume I plate 65</a></td>
<td class="latin"><a class="plant" href="../CampRadi/index.html"><i>Campsis</i> <i>radicans</i> (L.) Seem.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CletAlni">Volume I plate 66</a></td>
<td class="latin"><a class="plant" href="../CletAlni/index.html"><i>Clethra</i> <i>alnifolia</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#JuglNigr">Volume I plate 67</a></td>
<td class="latin"><a class="plant" href="../JuglNigr/index.html"><i>Juglans</i> <i>nigra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ChioVirg">Volume I plate 68</a></td>
<td class="latin"><a class="plant" href="../ChioVirg/index.html"><i>Chionanthus</i> <i>virginicus</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MoreCeri">Volume I plate 69</a></td>
<td class="latin"><a class="plant" href="../MoreCeri/index.html"><i>Morella</i> <i>cerifera</i> (L.) Small</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#GentCate">Volume I plate 70</a></td>
<td class="latin"><a class="plant" href="../GentCate/index.html"><i>Gentiana</i> <i>catesbaei</i> Walter</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#OxydArbo">Volume I plate 71</a></td>
<td class="latin"><a class="plant" href="../OxydArbo/index.html"><i>Oxydendrum</i> <i>arboreum</i> (L.) DC.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SalmPetr">Volume I plate 72</a></td>
<td class="latin"><a class="plant" href="../SalmPetr/index.html"><i>Salmea</i> <i>petrobioides</i> Griseb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ReynSept">Volume I plate 75</a></td>
<td class="latin"><a class="plant" href="../ReynSept/index.html"><i>Reynosia</i> <i>septentrionalis</i> Urb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PhymAbut">Volume I plate 77</a></td>
<td class="latin"><a class="plant" href="../PhymAbut/index.html"><i>Phymosia</i> <i>abutiloides</i> (L.) Desv. ex. Ham.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ScaePlum">Volume I plate 79</a></td>
<td class="latin"><a class="plant" href="../ScaePlum/index.html"><i>Scaevola</i> <i>plumieri</i> (L.) Vahl</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#FraxCaro">Volume I plate 80</a></td>
<td class="latin"><a class="plant" href="../FraxCaro/index.html"><i>Fraxinus</i> <i>caroliniana</i> Mill.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#OronAqua">Volume I plate 82</a></td>
<td class="latin"><a class="plant" href="../OronAqua/index.html"><i>Orontium</i> <i>aquaticum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PeltVirg">Volume I plate 83</a></td>
<td class="latin"><a class="plant" href="../PeltVirg/index.html"><i>Peltandra</i> <i>virginica</i> (L.) Schott &amp; Endl.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AvicGerm">Volume I plate 85</a></td>
<td class="latin"><a class="plant" href="../AvicGerm/index.html"><i>Avicennia</i> <i>germinans</i> (L.) L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LaguRace">Volume I plate 86</a></td>
<td class="latin"><a class="plant" href="../LaguRace/index.html"><i>Laguncularia</i> <i>racemosa</i> (L.) C.F.Gaertn.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#WedeBaha">Volume I plate 92</a></td>
<td class="latin"><a class="plant" href="../WedeBaha/index.html"><i>Wedelia</i> <i>bahamensis</i> (Britton) O.E.Schultz</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#BorrArbo">Volume I plate 93</a></td>
<td class="latin"><a class="plant" href="../BorrArbo/index.html"><i>Borrichia</i> <i>arborescens</i> (L.) DC.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#JacqKeye">Volume I plate 98</a></td>
<td class="latin"><a class="plant" href="../JacqKeye/index.html"><i>Jacquinia</i> <i>keyensis</i> Mez</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CateSpin">Volume II plate 100</a></td>
<td class="latin"><a class="plant" href="../CateSpin/index.html"><i>Catesbaea</i> <i>spinosa</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#DalbEcas">Volume II plate 24</a></td>
<td class="latin"><a class="plant" href="../DalbEcas/index.html"><i>Dalbergia</i> <i>ecastaphyllum</i> (L.) Taub.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PhytEpip">Volume II plate 26</a></td>
<td class="latin"><a class="plant" href="../PhytEpip/index.html"><i>Phyllanthus</i> <i>epiphyllanthus</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#GalaRudo">Volume II plate 28</a></td>
<td class="latin"><a class="plant" href="../GalaRudo/index.html"><i>Galactia</i> <i>rudolphioides</i> (Griseb.) Benth. &amp; Hook.f. ex C.Wright</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#NectCori">Volume II plate 28</a></td>
<td class="latin"><a class="plant" href="../NectCori/index.html"><i>Nectandra</i> <i>coriacea</i> (Sw.) Griseb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LeucAxil">Volume II plate 30</a></td>
<td class="latin"><a class="plant" href="../LeucAxil/index.html"><i>Leucothoe</i> <i>axillaris</i> (Lam.) D.Don</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PicrBacc">Volume II plate 32</a></td>
<td class="latin"><a class="plant" href="../PicrBacc/index.html"><i>Picrodendron</i> <i>baccatum</i> (L.) Krug &amp; Urb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AmyrElem">Volume II plate 33</a></td>
<td class="latin"><a class="plant" href="../AmyrElem/index.html"><i>Amyris</i> <i>elemifera</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ConcErec">Volume II plate 33</a></td>
<td class="latin"><a class="plant" href="../ConcErec/index.html"><i>Conocarpus</i> <i>erectus</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ThalTest">Volume II plate 38</a></td>
<td class="latin"><a class="plant" href="../ThalTest/index.html"><i>Thalassia</i> <i>testudinum</i> Banks &amp; Sol. ex K.D.Koenig</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#BanaMinu">Volume II plate 42</a></td>
<td class="latin"><a class="plant" href="../BanaMinu/index.html"><i>Banara</i> <i>minutiflora</i> (A.Rich) Sleumer</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LyslLati">Volume II plate 42</a></td>
<td class="latin"><a class="plant" href="../LyslLati/index.html"><i>Lysiloma</i> <i>latisiliquum</i> (L.) Benth.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LeucRace">Volume II plate 43</a></td>
<td class="latin"><a class="plant" href="../LeucRace/index.html"><i>Leucothoe</i> <i>racemosa</i> (L.) A.Gray</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#VachTort">Volume II plate 44</a></td>
<td class="latin"><a class="plant" href="../VachTort/index.html"><i>Vachellia</i> <i>tortuosa</i> (L.) Seigler &amp; Ebinger</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#XantSagi">Volume II plate 45</a></td>
<td class="latin"><a class="plant" href="../XantSagi/index.html"><i>Xanthosoma</i> <i>sagittifolia</i> (L.) Schott</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CrotElut">Volume II plate 46</a></td>
<td class="latin"><a class="plant" href="../CrotElut/index.html"><i>Croton</i> <i>eluteria</i> (L.) W.Wright</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CalcAmer">Volume II plate 47</a></td>
<td class="latin"><a class="plant" href="../CalcAmer/index.html"><i>Callicarpa</i> <i>americana</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CissObov">Volume II plate 48</a></td>
<td class="latin"><a class="plant" href="../CissObov/index.html"><i>Cissus</i> <i>obovata</i> Vahl</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#EritHerb">Volume II plate 49</a></td>
<td class="latin"><a class="plant" href="../EritHerb/index.html"><i>Erythrina</i> <i>herbacea</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CaneWint">Volume II plate 50</a></td>
<td class="latin"><a class="plant" href="../CaneWint/index.html"><i>Canella</i> <i>winterana</i> (L.) Gaertn.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CaesBaha">Volume II plate 51</a></td>
<td class="latin"><a class="plant" href="../CaesBaha/index.html"><i>Caesalpinia</i> <i>bahamensis</i> Lam.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PassSube">Volume II plate 51</a></td>
<td class="latin"><a class="plant" href="../PassSube/index.html"><i>Passiflora</i> <i>suberosa</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#DecuBarb">Volume II plate 52</a></td>
<td class="latin"><a class="plant" href="../DecuBarb/index.html"><i>Decumaria</i> <i>barbara</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PentLute">Volume II plate 53</a></td>
<td class="latin"><a class="plant" href="../PentLute/index.html"><i>Pentalinon</i> <i>luteum</i> (L.) B.F.Hansen &amp; Wunderlin</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SileVirg">Volume II plate 54</a></td>
<td class="latin"><a class="plant" href="../SileVirg/index.html"><i>Silene</i> <i>virginica</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PolsConc">Volume II plate 55</a></td>
<td class="latin"><a class="plant" href="../PolsConc/index.html"><i>Polystachya</i> <i>concreta</i> (Jacq.) Garay &amp; H.R.Sweet</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LiliSupe">Volume II plate 56 - buds and right flower</a></td>
<td class="latin"><a class="plant" href="../LiliSupe/index.html"><i>Lilium</i> <i>superbum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LiliMich">Volume II plate 56 - left flower and leaves</a></td>
<td class="latin"><a class="plant" href="../LiliMich/index.html"><i>Lilium</i> <i>michauxii</i> Poir.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#IlexVomi">Volume II plate 57</a></td>
<td class="latin"><a class="plant" href="../IlexVomi/index.html"><i>Ilex</i> <i>vomitoria</i> Aiton</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LiliCate">Volume II plate 58</a></td>
<td class="latin"><a class="plant" href="../LiliCate/index.html"><i>Lilium</i> <i>catesbaei</i> Walter</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#EchnPurp">Volume II plate 59</a></td>
<td class="latin"><a class="plant" href="../EchnPurp/index.html"><i>Echinacea</i> <i>purpurea</i> (L.) Moench</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#IpomBata">Volume II plate 60</a></td>
<td class="latin"><a class="plant" href="../IpomBata/index.html"><i>Ipomoea</i> <i>batatas</i> (L.) Poir.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MagnGran">Volume II plate 61</a></td>
<td class="latin"><a class="plant" href="../MagnGran/index.html"><i>Magnolia</i> <i>grandiflora</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CommErec">Volume II plate 62</a></td>
<td class="latin"><a class="plant" href="../CommErec/index.html"><i>Commelina</i> <i>erecta</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#RhizMang">Volume II plate 63</a></td>
<td class="latin"><a class="plant" href="../RhizMang/index.html"><i>Rhizophora</i> <i>mangle</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AnnoGlab">Volume II plate 64</a></td>
<td class="latin"><a class="plant" href="../AnnoGlab/index.html"><i>Annona</i> <i>glabra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LiquStyr">Volume II plate 65</a></td>
<td class="latin"><a class="plant" href="../LiquStyr/index.html"><i>Liquidambar</i> <i>styraciflua</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#HaemCamp">Volume II plate 66</a></td>
<td class="latin"><a class="plant" href="../HaemCamp/index.html"><i>Haematoxylum</i> <i>campechianum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ZzzzAngl">Volume II plate 67</a></td>
<td class="latin"><a class="plant" href="../AnnoGlab/index.html"><i>Annona</i> <i>glabra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#EpidNoct">Volume II plate 68</a></td>
<td class="latin"><a class="plant" href="../EpidNoct/index.html"><i>Epidendrum</i> <i>nocturnum</i> Jacq.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SarrMino">Volume II plate 69 left</a></td>
<td class="latin"><a class="plant" href="../SarrMino/index.html"><i>Sarracenia</i> <i>minor</i> Walter</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SarrFlav">Volume II plate 69 right</a></td>
<td class="latin"><a class="plant" href="../SarrFlav/index.html"><i>Sarracenia</i> <i>flava</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SarrPurp">Volume II plate 70</a></td>
<td class="latin"><a class="plant" href="../SarrPurp/index.html"><i>Sarracenia</i> <i>purpurea</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SymlFoet">Volume II plate 71</a></td>
<td class="latin"><a class="plant" href="../SymlFoet/index.html"><i>Symplocarpus</i> <i>foetidus</i> (L.) Salisb. ex W.P.C.Barton</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ZzzzCyac">Volume II plate 72</a></td>
<td class="latin"><a class="plant" href="../CyprAcau/index.html"><i>Cypripedium</i> <i>acaule</i> Aiton</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CyprParvPube">Volume II plate 73</a></td>
<td class="latin"><a class="plant" href="../CyprParvPube/index.html"><i>Cypripedium</i> <i>parviflorum</i> var. <i>pubescens</i> (Willd.) O.W.Knight</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ProsBoot">Volume II plate 74</a></td>
<td class="latin"><a class="plant" href="../ProsBoot/index.html"><i>Prosthechea</i> <i>boothiana</i> (Lindl.) W.E.Higgins</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SideFoet">Volume II plate 75</a></td>
<td class="latin"><a class="plant" href="../SideFoet/index.html"><i>Sideroxylon</i> <i>foetidissimum</i> Jacq.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#DiosVirg">Volume II plate 76</a></td>
<td class="latin"><a class="plant" href="../DiosVirg/index.html"><i>Diospyros</i> <i>virginiana</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CatoBert">Volume II plate 77</a></td>
<td class="latin"><a class="plant" href="../CatoBert/index.html"><i>Catopsis</i> <i>berteroniana</i> (Schult. &amp; Schult. f.) Mez</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SpigMari">Volume II plate 78</a></td>
<td class="latin"><a class="plant" href="../SpigMari/index.html"><i>Spigelia</i> <i>marilandica</i> (L.) L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#BourOvat">Volume II plate 79</a></td>
<td class="latin"><a class="plant" href="../BourOvat/index.html"><i>Bourreria</i> <i>ovata</i> Miers</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MagnTrip">Volume II plate 80</a></td>
<td class="latin"><a class="plant" href="../MagnTrip/index.html"><i>Magnolia</i> <i>tripetala</i> (L.) L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PhorRubr">Volume II plate 81</a></td>
<td class="latin"><a class="plant" href="../PhorRubr/index.html"><i>Phoradendron</i> <i>rubrum</i> (L.) Griseb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SwieMaho">Volume II plate 81</a></td>
<td class="latin"><a class="plant" href="../SwieMaho/index.html"><i>Swietenia</i> <i>mahogani</i> (L.) Jacq.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#BignCapr">Volume II plate 82</a></td>
<td class="latin"><a class="plant" href="../BignCapr/index.html"><i>Bignonia</i> <i>capreolata</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PtelTrif">Volume II plate 83</a></td>
<td class="latin"><a class="plant" href="../PtelTrif/index.html"><i>Ptelea</i> <i>trifoliata</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PhilInod">Volume II plate 84</a></td>
<td class="latin"><a class="plant" href="../PhilInod/index.html"><i>Philadelphus</i> <i>inodorus</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#SmilMari">Volume II plate 84</a></td>
<td class="latin"><a class="plant" href="../SmilMari/index.html"><i>Smilax</i> <i>maritima</i> Feay ex Alph.Wood</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AsimTril">Volume II plate 85</a></td>
<td class="latin"><a class="plant" href="../AsimTril/index.html"><i>Asimina</i> <i>triloba</i> (L.) Dunal</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AnnoReti">Volume II plate 86</a></td>
<td class="latin"><a class="plant" href="../AnnoReti/index.html"><i>Annona</i> <i>reticulata</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#IpomMicr">Volume II plate 87</a></td>
<td class="latin"><a class="plant" href="../IpomMicr/index.html"><i>Ipomoea</i> <i>microdactyla</i> Griseb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ManiJaimEmar">Volume II plate 87</a></td>
<td class="latin"><a class="plant" href="../ManiJaimEmar/index.html"><i>Manilkara</i> <i>jaimiqui</i> subsp. <i>emarginata</i> (L.) Cronquist</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#EncyPlic">Volume II plate 88</a></td>
<td class="latin"><a class="plant" href="../EncyPlic/index.html"><i>Encyclia</i> <i>plicata</i> (Lindl.) Schltr.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ProsCoch">Volume II plate 88</a></td>
<td class="latin"><a class="plant" href="../ProsCoch/index.html"><i>Prosthechea</i> <i>cochleata</i> (L.) W.E.Higgins</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#TillBalb">Volume II plate 89</a></td>
<td class="latin"><a class="plant" href="../TillBalb/index.html"><i>Tillandsia</i> <i>balbisiana</i> Schult.f.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#TaliTili">Volume II plate 90</a></td>
<td class="latin"><a class="plant" href="../TaliTili/index.html"><i>Talipariti</i> <i>tiliaceum</i> (L.) Fryxell</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CoriSebe">Volume II plate 91</a></td>
<td class="latin"><a class="plant" href="../CoriSebe/index.html"><i>Cordia</i> <i>sebestena</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#IpomCaro">Volume II plate 91</a></td>
<td class="latin"><a class="plant" href="../IpomCaro/index.html"><i>Ipomoea</i> <i>carolina</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PlumRubr">Volume II plate 92</a></td>
<td class="latin"><a class="plant" href="../PlumRubr/index.html"><i>Plumeria</i> <i>rubra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PassCupr">Volume II plate 93</a></td>
<td class="latin"><a class="plant" href="../PassCupr/index.html"><i>Passiflora</i> <i>cupraea</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PlumObtu">Volume II plate 93</a></td>
<td class="latin"><a class="plant" href="../PlumObtu/index.html"><i>Plumeria</i> <i>obtusa</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#DendPurp">Volume II plate 95</a></td>
<td class="latin"><a class="plant" href="../DendPurp/index.html"><i>Dendropemon</i> <i>purpureus</i> (L.) Krug &amp; Urb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#HipoManc">Volume II plate 95</a></td>
<td class="latin"><a class="plant" href="../HipoManc/index.html"><i>Hippomane</i> <i>mancinella</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CoclUvif">Volume II plate 96</a></td>
<td class="latin"><a class="plant" href="../CoclUvif/index.html"><i>Coccoloba</i> <i>uvifera</i> (L.) L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PithBaha">Volume II plate 97</a></td>
<td class="latin"><a class="plant" href="../PithBaha/index.html"><i>Pithecellobium</i> <i>bahamense</i> Northr.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#KalmLati">Volume II plate 98</a></td>
<td class="latin"><a class="plant" href="../KalmLati/index.html"><i>Kalmia</i> <i>latifolia</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ClusRose">Volume II plate 99</a></td>
<td class="latin"><a class="plant" href="../ClusRose/index.html"><i>Clusia</i> <i>rosea</i> Jacq.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#DodeMead">Appendix plate 1</a></td>
<td class="latin"><a class="plant" href="../DodeMead/index.html"><i>Dodecatheon</i> <i>meadia</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#HamaVirg">Appendix plate 2</a></td>
<td class="latin"><a class="plant" href="../HamaVirg/index.html"><i>Hamamelis</i> <i>virginiana</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#CyprAcau">Appendix plate 3</a></td>
<td class="latin"><a class="plant" href="../CyprAcau/index.html"><i>Cypripedium</i> <i>acaule</i> Aiton</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#RhusGlab">Appendix plate 4</a></td>
<td class="latin"><a class="plant" href="../RhusGlab/index.html"><i>Rhus</i> <i>glabra</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#HymeCaro">Appendix plate 5</a></td>
<td class="latin"><a class="plant" href="../HymeCaro/index.html"><i>Hymenocallis</i> <i>caroliniana</i> (L.) Herb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ThebCaca">Appendix plate 6</a></td>
<td class="latin"><a class="plant" href="../ThebCaca/index.html"><i>Theobroma</i> <i>cacao</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#VaniMexi">Appendix plate 7</a></td>
<td class="latin"><a class="plant" href="../VaniMexi/index.html"><i>Vanilla</i> <i>mexicana</i> Mill.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LiliPhil">Appendix plate 8</a></td>
<td class="latin"><a class="plant" href="../LiliPhil/index.html"><i>Lilium</i> <i>philadelphicum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#AnacOcci">Appendix plate 9</a></td>
<td class="latin"><a class="plant" href="../AnacOcci/index.html"><i>Anacardium</i> <i>occidentale</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#LiliCana">Appendix plate 11</a></td>
<td class="latin"><a class="plant" href="../LiliCana/index.html"><i>Lilium</i> <i>canadense</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#ZephAtam">Appendix plate 12</a></td>
<td class="latin"><a class="plant" href="../ZephAtam/index.html"><i>Zephyranthes</i> <i>atamasca</i> (L.) Herb.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#StewMala">Appendix plate 13</a></td>
<td class="latin"><a class="plant" href="../StewMala/index.html"><i>Stewartia</i> <i>malacodendron</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#MagnAcum">Appendix plate 15</a></td>
<td class="latin"><a class="plant" href="../MagnAcum/index.html"><i>Magnolia</i> <i>acuminata</i> (L.) L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#PanaQuin">Appendix plate 16</a></td>
<td class="latin"><a class="plant" href="../PanaQuin/index.html"><i>Panax</i> <i>quinquefolius</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#KalmAngu">Appendix plate 17</a></td>
<td class="latin"><a class="plant" href="../KalmAngu/index.html"><i>Kalmia</i> <i>angustifolia</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#RhodMaxi">Appendix plate 17</a></td>
<td class="latin"><a class="plant" href="../RhodMaxi/index.html"><i>Rhododendron</i> <i>maximum</i> L.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#FicuCitr">Appendix plate 18</a></td>
<td class="latin"><a class="plant" href="../FicuCitr/index.html"><i>Ficus</i> <i>citrifolia</i> Mill.</a></td>
</tr><tr>
<td class="plate"><a class="plant" href="../3ook/catesby.html#RobiHisp">Appendix plate 20</a></td>
<td class="latin"><a class="plant" href="../RobiHisp/index.html"><i>Robinia</i> <i>hispida</i> L.</a></td>
</tr>
</table>



</div>
</div>

<hr />
	<p class="fcopyright"><a href="http://plantilus.com/policies.html">© 2010-12 Lisa J. Miner</a></p> 
</div>
</body>

</html>