<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Genera List - Plantilus.com</title>
  <link href="../resources/plantdb.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="banner">
<div class="section">
<h3><a href="/plant-database/">Plant Database</a></h3>
</div>

<h1><a href="http://plantilus.com/">Plant<span> </span><i>ilus</i></a></h1>
<h2><span>A</span> Place for Plants</h2>
</div>

<div class="main clearfix">

<div class="menubar">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/plant-database/">Plant Database</a></li>
	<li><a href="/historical-books/">Historical Books</a></li>
	<li><a href="http://blog.plantilus.com/">Blog</a></li>
	<li><a href="/gardens/">Gardens</a></li>
	<li><a href="/identification/">Identification</a></li>
	<li><a href="/nomenclature/">Nomenclature</a></li>
</ul>
</div>

<div class="sideinfo">

<br />
<div class="ad">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4706423175274772";
	/* plantilus */
	google_ad_slot = "8086790483";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
</div>

<div class="label">
<h2 id="pgenauth"><i>Genus</i> Auth.</h2>
</div>

<div class="genera">
<div class="text">
<p id="pcommon"><span class="label">Common Name:&nbsp;</span></p>
<p id="pfamily"><span class="label">Family:&nbsp;</span></p>
<p id="ppub"><span class="label">Published in:&nbsp;</span></p>
<p id="pother"><span class="label">Other:&nbsp;</span></p>
<p id="psubtlabel"><span class="label">Subordinate taxa:&nbsp;</span></p>
  <ul id="psubtaxalist">
    <li> <a class="plant" href="#"><i>Abelia chinensis</i> R.Br.</a> </li>
  </ul>

</div>

</div>

<div class="clearfix"> </div>
<hr />

	<p class="fcopyright"><a href="http://plantilus.com/policies.html">&copy; 2010-12 Lisa J. Miner</a></p> 

</body>
</html>
