<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>PLANT NAME - Plantilus.com</title>
  <link href="../resources/plantdb.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="banner">
    <div class="section">
<h3><a href="/plant-database/">Plant Database</a></h3>
    </div>

<h1><a href="http://plantilus.com/">Plant<span> </span><i>ilus</i></a></h1>

    <h2><span>A</span> Place for Plants</h2>
  </div>

  <div class="main clearfix">
  
  <div class="menubar">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/plant-database/">Plant Database</a></li>
	<li><a href="/historical-books/">Historical Books</a></li>
	<li><a href="http://blog.plantilus.com/">Blog</a></li>
	<li><a href="/gardens/">Gardens</a></li>
	<li><a href="/identification/">Identification</a></li>
	<li><a href="/nomenclature/">Nomenclature</a></li>
</ul>
</div>


    <div class="label">
      <h2>[Plant Name Images]</h2>
      <h3>[Plant Common Name]</h3>
    </div>

    <div class="sideinfo">
      <p><a class="nav" href="index.html">Plant Information</a></p>

		<div class="otherlinks">
      <h4 class="othercults">Other Cultivars:</h4>

      <ul class="othercults">
        <li><a class="plant" href="#">Other Cult</a></li>
      </ul>


      <h4 class="subtaxa">Subordinate Taxa:</h4>

      <ul class="subtaxa">
        <li><a class="plant" href="#">Sub Taxa</a></li>
      </ul>
      </div>

<br />
<div class="ad">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4706423175274772";
	/* plantilus */
	google_ad_slot = "8086790483";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
    </div>

    <div class="imageframe">
    	<div> 
    	<a href="#"><img width="231" alt="" src="Thumbnails/1.jpg"></a>
		<p class="caption">Captivating Caption</p>
		<p class="credit">Magic Photo Credit</p>
  		</div>
    </div>

  </div><!-- main -->
  
<div class="clearfix"> </div>
<hr />

	<p class="fcopyright"><a href="http://plantilus.com/policies.html">&copy; 2010-12 Lisa J. Miner</a></p> 
</body>
</html>
