<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>[PLANT NAME] - Plantilus.com</title>
  <link href="../resources/plantdb.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="banner">
    <div class="section">
    <h3><a href="/plant-database/">Plant Database</a></h3>
  </div>

<h1><a href="http://plantilus.com/">Plant<span> </span><i>ilus</i></a></h1>

    <h2><span>A</span> Place for Plants</h2>
    
	
  </div>

  <div class="main clearfix">

<div class="menubar">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/plant-database/">Plant Database</a></li>
	<li><a href="/historical-books/">Historical Books</a></li>
	<li><a href="http://blog.plantilus.com/">Blog</a></li>
	<li><a href="/gardens/">Gardens</a></li>
	<li><a href="/identification/">Identification</a></li>
	<li><a href="/nomenclature/">Nomenclature</a></li>
</ul>
</div>

  <div>
    <div class="sideinfo">
    </div>
 
    <div class="label">
      <h2>[Plant Name Authors]</h2>
      <h3>[Plant Common Name]</h3>
    </div>
</div>

  
    <div class="imageframe">
    	<div class="single"> 
		<p class="caption">[Captivating Caption]</p>
    	<img  alt="flower" src="1.jpg">
		<p class="credit">[Magic Photo Credit]</p>
    	<p><a class="nav" href="index.html">Plant Information</a></p>
    	<p>
    	<a class="iprev nav" href="#"> &nbsp;&lt;&nbsp; </a>
    	&nbsp;<a class="igallery nav" href="images.html">Images</a>&nbsp;
    	<a class="inext nav" href="#"> &nbsp;&gt;&nbsp; </a></p>
    	
    </div>
    </div>


  </div><!-- main -->
  
<div class="clearfix"> </div>
<hr />

	<p class="fcopyright"><a href="http://plantilus.com/policies.html">&copy; 2010-12 Lisa J. Miner</a></p> 
</body>
</html>
